#Pollution {
  border-bottom-width: 2px;
  border-color: rgb(255, 255, 255);
  border-right-width: 2px;
  position: absolute;
  left: 24px;
  top: 24px;
  width: 256px;
  height: 12px;
}

#PollutionFill {
  background-color: red;
  height: 100%;
  margin-bottom: 2px;
  margin-right: 2px;
}
